<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>locationid</th>
      <th>Applicant</th>
      <th>FacilityType</th>
      <th>cnn</th>
      <th>LocationDescription</th>
      <th>Address</th>
      <th>blocklot</th>
      <th>block</th>
      <th>lot</th>
      <th>permit</th>
      <th>Status</th>
      <th>FoodItems</th>
      <th>X</th>
      <th>Y</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Schedule</th>
      <th>dayshours</th>
      <th>NOISent</th>
      <th>Approved</th>
      <th>Received</th>
      <th>PriorPermit</th>
      <th>ExpirationDate</th>
      <th>Location</th>
      <th>Fire Prevention Districts</th>
      <th>Police Districts</th>
      <th>Supervisor Districts</th>
      <th>Zip Codes</th>
      <th>Neighborhoods (old)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1612654</td>
      <td>Sunset Mercantile/Outer Sunset Farmers Market &amp; Mercantile</td>
      <td>Truck</td>
      <td>1835000</td>
      <td>37TH AVE: QUINTARA ST to RIVERA ST (2100 - 2199)</td>
      <td>2155 37TH AVE</td>
      <td>2094006</td>
      <td>2094</td>
      <td>6</td>
      <td>22MFF-00031</td>
      <td>REQUESTED</td>
      <td>Multiple Food Trucks &amp; Food Types</td>
      <td>5.984528e+06</td>
      <td>2.100736e+06</td>
      <td>37.747327</td>
      <td>-122.496281</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00031&amp;ExportPDF=1&amp;Filename=22MFF-00031_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20220421</td>
      <td>0</td>
      <td>11/15/2022 12:00:00 AM</td>
      <td>(37.74732654654123, -122.49628067270531)</td>
      <td>1</td>
      <td>8</td>
      <td>3</td>
      <td>29491</td>
      <td>35</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1658690</td>
      <td>Bonito Poke</td>
      <td>Truck</td>
      <td>3528000</td>
      <td>CALIFORNIA ST: SANSOME ST to LEIDESDORFF ST (400 - 448)</td>
      <td>430 CALIFORNIA ST</td>
      <td>239029</td>
      <td>239</td>
      <td>29</td>
      <td>22MFF-00070</td>
      <td>APPROVED</td>
      <td>Bonito Poke Bowls &amp; Various Drinks</td>
      <td>6.012182e+06</td>
      <td>2.116890e+06</td>
      <td>37.793262</td>
      <td>-122.401789</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00070&amp;ExportPDF=1&amp;Filename=22MFF-00070_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/09/2022 12:00:00 AM</td>
      <td>20221109</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.793262206923096, -122.4017890913628)</td>
      <td>4</td>
      <td>1</td>
      <td>10</td>
      <td>28854</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1652620</td>
      <td>Off the Grid Services, LLC</td>
      <td>Truck</td>
      <td>2953000</td>
      <td>BERRY ST: 03RD ST to 04TH ST (100 - 199)</td>
      <td>185 BERRY ST</td>
      <td>3803005</td>
      <td>3803</td>
      <td>5</td>
      <td>22MFF-00036</td>
      <td>APPROVED</td>
      <td>everything except for hot dogs</td>
      <td>6.014944e+06</td>
      <td>2.110666e+06</td>
      <td>37.776327</td>
      <td>-122.391797</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00036&amp;ExportPDF=1&amp;Filename=22MFF-00036_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/22/2022 12:00:00 AM</td>
      <td>20221019</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.77632714778992, -122.39179682107691)</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>28856</td>
      <td>20</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1652621</td>
      <td>Off the Grid Services, LLC</td>
      <td>Truck</td>
      <td>3143000</td>
      <td>BROADWAY: DAVIS ST to FRONT ST (50 - 99)</td>
      <td>90 BROADWAY</td>
      <td>140007</td>
      <td>140</td>
      <td>7</td>
      <td>22MFF-00036</td>
      <td>APPROVED</td>
      <td>everything except for hot dogs</td>
      <td>6.012853e+06</td>
      <td>2.119061e+06</td>
      <td>37.799260</td>
      <td>-122.399618</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00036&amp;ExportPDF=1&amp;Filename=22MFF-00036_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/22/2022 12:00:00 AM</td>
      <td>20221019</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.799260113502285, -122.39961794865545)</td>
      <td>3</td>
      <td>1</td>
      <td>10</td>
      <td>28860</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1652610</td>
      <td>Off the Grid Services, LLC</td>
      <td>Truck</td>
      <td>2953000</td>
      <td>BERRY ST: 03RD ST to 04TH ST (100 - 199)</td>
      <td>185 BERRY ST</td>
      <td>3803005</td>
      <td>3803</td>
      <td>5</td>
      <td>22MFF-00035</td>
      <td>APPROVED</td>
      <td>everything except for hot dogs</td>
      <td>6.014944e+06</td>
      <td>2.110666e+06</td>
      <td>37.776327</td>
      <td>-122.391797</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00035&amp;ExportPDF=1&amp;Filename=22MFF-00035_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/22/2022 12:00:00 AM</td>
      <td>20221019</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.77632714778992, -122.39179682107691)</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>28856</td>
      <td>20</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1652619</td>
      <td>Off the Grid Services, LLC</td>
      <td>Truck</td>
      <td>254000</td>
      <td>04TH ST: HOWARD ST to CLEMENTINA ST (200 - 267)</td>
      <td>250 04TH ST</td>
      <td>3733008</td>
      <td>3733</td>
      <td>8</td>
      <td>22MFF-00036</td>
      <td>APPROVED</td>
      <td>everything except for hot dogs</td>
      <td>6.012012e+06</td>
      <td>2.112923e+06</td>
      <td>37.782360</td>
      <td>-122.402096</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00036&amp;ExportPDF=1&amp;Filename=22MFF-00036_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/22/2022 12:00:00 AM</td>
      <td>20221019</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.78236012101754, -122.40209599456323)</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>28853</td>
      <td>34</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1652625</td>
      <td>Off the Grid Services, LLC</td>
      <td>Truck</td>
      <td>8794000</td>
      <td>MARY ST: MINNA ST to NATOMA ST (24 - 69)</td>
      <td>44 MARY ST</td>
      <td>3725127</td>
      <td>3725</td>
      <td>127</td>
      <td>22MFF-00038</td>
      <td>APPROVED</td>
      <td>Multiple Food Trucks &amp; Food Types</td>
      <td>6.010698e+06</td>
      <td>2.112590e+06</td>
      <td>37.781372</td>
      <td>-122.406619</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00038&amp;ExportPDF=1&amp;Filename=22MFF-00038_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/22/2022 12:00:00 AM</td>
      <td>20221019</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.781372367648615, -122.40661921344578)</td>
      <td>14</td>
      <td>2</td>
      <td>9</td>
      <td>28853</td>
      <td>34</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1652623</td>
      <td>Off the Grid Services, LLC</td>
      <td>Truck</td>
      <td>3080000</td>
      <td>BRANNAN ST: 04TH ST to 05TH ST (500 - 599)</td>
      <td>525 BRANNAN ST</td>
      <td>3786028</td>
      <td>3786</td>
      <td>28</td>
      <td>22MFF-00037</td>
      <td>APPROVED</td>
      <td>Everything</td>
      <td>6.013436e+06</td>
      <td>2.111129e+06</td>
      <td>37.777513</td>
      <td>-122.397044</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00037&amp;ExportPDF=1&amp;Filename=22MFF-00037_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/22/2022 12:00:00 AM</td>
      <td>20221019</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.77751326467553, -122.3970441344819)</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>28856</td>
      <td>34</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1652622</td>
      <td>Off the Grid Services, LLC</td>
      <td>Truck</td>
      <td>3075000</td>
      <td>BRANNAN ST: STANFORD ST to JACK LONDON ALY (324 - 353)</td>
      <td>340 BRANNAN ST</td>
      <td>3775015</td>
      <td>3775</td>
      <td>15</td>
      <td>22MFF-00037</td>
      <td>APPROVED</td>
      <td>Everything</td>
      <td>6.014566e+06</td>
      <td>2.112472e+06</td>
      <td>37.781265</td>
      <td>-122.393229</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00037&amp;ExportPDF=1&amp;Filename=22MFF-00037_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/22/2022 12:00:00 AM</td>
      <td>20221019</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.781264686022816, -122.3932290415377)</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>28856</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1652582</td>
      <td>Off the Grid Services, LLC</td>
      <td>Truck</td>
      <td>3143000</td>
      <td>BROADWAY: DAVIS ST to FRONT ST (50 - 99)</td>
      <td>90 BROADWAY</td>
      <td>140007</td>
      <td>140</td>
      <td>7</td>
      <td>22MFF-00034</td>
      <td>APPROVED</td>
      <td>everything except for hot dogs</td>
      <td>6.012853e+06</td>
      <td>2.119061e+06</td>
      <td>37.799260</td>
      <td>-122.399618</td>
      <td>http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&amp;report=rptSchedule&amp;params=permit=22MFF-00034&amp;ExportPDF=1&amp;Filename=22MFF-00034_schedule.pdf</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11/22/2022 12:00:00 AM</td>
      <td>20221019</td>
      <td>0</td>
      <td>11/15/2023 12:00:00 AM</td>
      <td>(37.799260113502285, -122.39961794865545)</td>
      <td>3</td>
      <td>1</td>
      <td>10</td>
      <td>28860</td>
      <td>6</td>
    </tr>
  </tbody>
</table>